:root{
    --blue: #071B30;
    --yellow: #F9B500;
    --red: #8E1C04;

/* change the values below to your chosen font(s) */
--heading-font: 'Love Ya Like A Sister', cursive;
}


body{
    font-family: var(--heading-font);
    color: #071B30;
}

nav{
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 4rem;
    padding-right: 4rem;
    background-color: var(--red) ;
    color: var(--yellow);
}

.logo{
    width: 3.80rem;
}

a {
    color: var(--yellow);
    text-decoration: none;
    font-size: 16px;
    transition: font-size 0.2s ease-in-out;
    padding-left: 4rem;
}
  
a:hover {
    font-size: 32px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 4rem;
    text-align: justify;
}

h1{
    font-size: 2rem;
    padding: 2rem;
    text-align: center;
}

.content{
    line-height: 1.5;
}

.div_content{
    display: flex;
    flex-direction: column;
    text-indent: 4rem;

}
footer{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    padding: 2rem;
    background: var(--blue);
    color: var(--yellow);
}

.linkedin_icon{
    width: 4rem;
}

main{
    background-color: #F9B500;
}

.block1:nth-child(1){
    text-align: left
  }

/* Best Movies Page */

.container{
    border: solid var(--blue);
    border-radius: 20px;
    display: grid;
    font-size: 2rem;
    align-items: center;
    margin: 4rem;
    width: 700px;
    grid-template-columns: 1fr;
}

.poster{
    width: 700px;
    display: block;
    border-top: solid var(--blue);

}

.movie_title, .music_title{
    padding: 2rem;
    border-top: solid var(--blue);
    border-bottom:  solid var(--blue);
}

.director{
    border-bottom:  solid var(--blue);
    padding: 2rem;
}

.main_actors, .song_writer{
    padding: 2rem;

}
.best_movie_of, .best_music_of{
    padding: 2rem;
    text-align: center;
}

/* Best Music Page */

.interpreter{
    padding: 2rem 2rem 0 2rem;
}

.producer{
    padding: 0 2rem  2rem 2rem;

}

a{
    padding: 0;
    margin: 0;
}

